* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ecf6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.load1 {
  display: flex;
  gap: 1rem;
}

.load1 > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.load1 div:nth-child(1) {
  background-color: red;
  animation: loadingAnimateRed 2s 0.3s infinite;
}
.load1 div:nth-child(2) {
  background-color: orange;
  animation: loadingAnimateOrange 2s 0.2s infinite;
}
.load1 div:nth-child(3) {
  background-color: green;
  animation: loadingAnimateGreen 2s 0.1s infinite;
}

@keyframes loadingAnimateGreen {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2rem, -2rem);
  }
  50% {
    transform: translate(-4rem, 0);
  }
  75% {
    transform: translate(-2rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes loadingAnimateOrange {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2rem, 0);
  }
  50% {
    transform: translate(0, -2rem);
  }
  75% {
    transform: translate(-2rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes loadingAnimateRed {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2rem, 0);
  }
  50% {
    transform: translate(4rem, 0);
  }
  75% {
    transform: translate(2rem, -2rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

.load2 {
  display: flex;
  gap: 0.2rem;
}

.load2 > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.load2 div:nth-child(1) {
  background-color: red;
  animation: loadingAnimate 1s 0.4s infinite;
}
.load2 div:nth-child(2) {
  background-color: orange;
  animation: loadingAnimate 1s 0.2s infinite;
}
.load2 div:nth-child(3) {
  background-color: green;
  animation: loadingAnimate 1s infinite;
}

@keyframes loadingAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.load3 {
  display: flex;
  gap: 1rem;
}

.load3 > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.load3 div:nth-child(1) {
  background-color: red;
  animation: loadingAnimate3 1.5s infinite;
}
.load3 div:nth-child(2) {
  background-color: orange;
  animation: loadingAnimate3 1.5s 0.2s infinite;
}
.load3 div:nth-child(3) {
  background-color: green;
  animation: loadingAnimate3 1.5s 0.4s infinite;
}

@keyframes loadingAnimate3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
