* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  background-color: #14162e;
}

body * {
  font-family: "Rubik", sans-serif;
}
.container {
  max-width: 152rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  padding: 1.6rem;
  justify-content: space-between;
  align-items: center;
}

.character {
  position: absolute;
  max-width: 54.5rem;
  top: 25%;
  right: 35%;
  z-index: -1;
}

.boll1 {
  position: absolute;

  width: 226px;
  height: 226px;
  left: 142px;
  top: 291px;

  background: #dda82a;
  filter: blur(150px);
  z-index: -1;
}
.boll2 {
  position: absolute;
  width: 226px;
  height: 226px;
  left: 346px;
  top: 557px;

  background: #4461f2;
  filter: blur(150px);
  z-index: -2;
}
.content {
  max-width: 44rem;
}
.content > p {
  font-size: 5.8rem;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
}

.content div span {
  font-size: 2.3rem;
  font-weight: 400;
  color: #ffffff;
}

.content div span strong {
  font-size: 2.3rem;
  font-weight: 700;
  color: #4461f2;
}

.container form {
  min-width: 40rem;
  display: flex;
  flex-direction: column;
}

form > h2 {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 2.5rem;
}

form input {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  border: none;
  padding: 0 1rem;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

form > span {
  font-size: 1.4rem;
  align-self: flex-end;
  margin-bottom: 4.6rem;
  color: #c7c7c7;
}

form > button {
  width: 100%;
  height: 6rem;
  font-size: 1.9rem;
  font-weight: 700;
  border-radius: 1rem;
  border: none;
  background: #4461f2;
  box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
  margin-bottom: 4.6rem;
  color: #ffffff;
  transition: filter 0.1s ease-in-out;
}

button:hover {
  filter: brightness(0.8);
}

.or-login {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  color: #ffffff;
}

.line {
  width: 12rem;
  height: 1px;
  background-color: #dfdfdf;
}

.col-3 {
  width: 100%;
  gap: 2.5rem;
  display: flex;
  margin-block: 4.6rem;
}

.col-3 button {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  border: none;
}
